<div class="container-fluid">
    <div class="row">
        <header>
            <nav class="navbar navbar-inverse">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a id="navbar-brand-ruby" class="navbar-brand" href="/#!/">Ruby Webs</a>
                </div>

                <div class="collapse navbar-collapse" id="navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="#">Our Service</a></li>
                        <li><a href="#">Service Plans</a></li>
                        <li><a href="#">Questions</a></li>
                        <li><a href="/#!/request">Request Info</a></li>
                    </ul>

                    <p id="slogan" class="text-ruby navbar-text pull-right">Website + Insight = Success</p>
                </div>
            </nav>
        </header>
    </div>
    
    <div class="content">
      <form name="contactUs">
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
               <h2>Contact Information</h2>
               <label>First Name </label><span class="required">*</span>
               <input type="text" class="form-control" ng-model="contact.first_name" required>
               <label>Last Name</label><span class="required">*</span>
               <input type="text" class="form-control" ng-model="contact.last_name" required>
               <label>Contact Phone</label><span class="required">*</span>
               <input type="tel" class="form-control" ng-model="contact.phone" required>
               <label>Contact Email</label><span class="required">*</span>
               <input type="email" class="form-control" ng-model="contact.email" required>
            </div>
          </div>
        
        <div class="col-sm-6">
            <div class="form-group">
                <h2>Business Information</h2>
                <label>Business Name</label>
                <input type="text" class="form-control" ng-model="contact.business_name">
                <label>Business Phone</label>
                <input type="tel" class="form-control" ng-model="contact.business_phone">
                <label>Existing website address</label>
                <input type="text" class="form-control" ng-model="contact.business_website">
                <label>Prefered Contact</label>
                <div class="radio">
                    <label>
                        <input type="radio" name="prefcontact" value="email" ng-model="contact.prefcontact">Email
                    </label>
                    <label>
                        <input type="radio" name="prefcontact" value="phone" ng-model="contact.prefcontact">Phone
                    </label>
                </div>
            </div>
        </div>
        </div>
        
        <div class="row row-spacer"></div>
    
        <div class="row">
            <div class="col-sm-6">
                <label>What do you want your website to do for you?</label>
                <textarea class="form-control" ng-model="contact.what_it_does" rows="15"></textarea>
            </div>
            
            <div class ="col-sm-6">
                <label>How do you see your website looking?</label>
                <textarea class="form-control" ng-model="contact.site_layout" rows="15"></textarea>
            </div>
        </div>
        
        <div class="row row-spacer"></div>
        
        <div class="row">
          <div class="col-sm-4">
              <label>Do you need to add content dynamically?  If so, what kind of content?</label>
              <textarea class="form-control" ng-model="contact.dynamic" rows="5"></textarea>
          </div>  
            
          <div class="col-sm-4">
              <label>Do you need support for users?</label>
              <textarea class="form-control" ng-model="contact.users" rows="5"></textarea>
          </div>
          
          <div class="col-sm-4">
              <label>We provide analysis of your site performance.  How often would you like contacted with your report?</label>
              <textarea class="form-control" ng-model="contact.analysis" rows="5"></textarea>
          </div>
        </div>
        
         <div class="row">
              <div class="col-sm-12">
                  <label>Website Development Acknowledgment</label>
                  <p>Here is the website development cost and agreement</p>
                  
                  <label>Website Hosting Acknowledgement</label>
                  <p>Here is the website hosting ackanledgment</p>
                  
                  <div class="checkbox">
                      <label><input type="checkbox" ng-model="contact.ack" required>I have read the acknowledgements</label><span class="required">*</span>
                  </div>
                  
                  <button type="submit" class="btn btn-default" ng-disabled="contactUs.$invalid" ng-click="submit_contact()">Submit</button>
              </div>
         </div>
      </form>
    </div>
    
    <div class="row footer-background">
      <div class="row content">
      <footer>
        <div class="col-sm-4 sm-margin-bottom">
          <ul>
            <li>Ruby Webs</li>
            <li><a href="mailto:nicolas.wb@outlook.com">Email</a></li>
            <li>P: 541-283-6385</li>
            <li><a href="https://plus.google.com/111061938625311669752" rel="publisher">Find us on Google+</a></li>
          </ul>
        </div>
      </footer>
      </div>
    </div>
</div>