<div class="container-fluid">
    <div class="row">
        <header>
            <nav class="navbar navbar-inverse">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a id="navbar-brand-ruby" class="navbar-brand" href="/#!/">Ruby Webs</a>
                </div>

                <div class="collapse navbar-collapse" id="navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="#">Our Service</a></li>
                        <li><a href="#">Service Plans</a></li>
                        <li><a href="#">Questions</a></li>
                        <li><a href="/#!/request">Request Info</a></li>
                    </ul>

                    <p id="slogan" class="text-ruby navbar-text pull-right">Website + Insight = Success</p>
                </div>
            </nav>
        </header>
    </div>
    
    <div class="content">
      <form>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
               <h2>Contact Information</h2>
               <label>First Name</label>
               <input type="text" class="form-control" ng-model="contact.first_name">
               <label>Last Name</label>
               <input type="text" class="form-control" ng-model="contact.last_name">
               <label>Contact Phone</label>
               <input type="tel" class="form-control" ng-model="contact.phone">
               <label>Contact Email</label>
               <input type="email" class="form-control" ng-model="contact.email">
            </div>
          </div>
        
        <div class="col-sm-6">
            <div class="form-group">
                <h2>Business Information</h2>
                <label>Business Name</label>
                <input type="text" class="form-control" ng-model="contact.business_name">
                <label>Business Phone</label>
                <input type="tel" class="form-control" ng-model="contact.business_phone">
                <label>Existing website address</label>
                <input type="text" class="form-control" ng-model="contact.business_website">
            </div>
        </div>
        </div>
        
        <div class="row row-spacer"><div>
    
        <div class="row">
            <div class="col-sm-6">
                <label>What do you want your website to do for you?</label>
                <textarea class="form-control" ng-model="contact.what_it_does" rows="15"></textarea>
            </div>
            
            <div class ="col-sm-6">
                <label>How do you see your website looking?</label>
                <textarea class="form-control" ng-model="contact.site_layout" rows="15"></textarea>
            </div>
        </div>
        
        <div class="row row-spacer"></div>
        
        <div class="row">
          <div class="col-sm-4">
              <label>Do you need to add content dynamically?  If so, what kind of content?</label>
              <textarea class="form-control" ng-model="contact.dynamic" rows="5"></textarea>
          </div>  
            
          <div class="col-sm-4">
              <label>Do you need support for users?</label>
              <textarea class="form-control" ng-model="contact.users" rows="5"></textarea>
          </div>
          
          <div class="col-sm-4">
              <label>We provide analysis of your site performance.  How often would you like contacted with your report?</label>
              <textarea class="form-control" ng-model="contact.analysis" rows="5"></textarea>
          </div>
        </div>
        
         <div class="row">
              
         </div>
      </form>
    </div>
</div>