<div class="container-fluid">
        <rw-header></rw-header>
    
    <div class="content">
      <form name="contactUs">
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
               <h2>Contact Information</h2>
               <label>First Name </label><span class="required">*</span>
               <input type="text" class="form-control" ng-model="contact.first_name" required>
               <label>Last Name</label><span class="required">*</span>
               <input type="text" class="form-control" ng-model="contact.last_name" required>
               <label>Contact Phone</label><span class="required">*</span>
               <input type="tel" class="form-control" ng-model="contact.phone" required>
               <label>Contact Email</label><span class="required">*</span>
               <input type="email" class="form-control" ng-model="contact.email" required>
            </div>
          </div>
        
        <div class="col-sm-6">
            <div class="form-group">
                <h2>Business Information</h2>
                <label>Business Name</label>
                <input type="text" class="form-control" ng-model="contact.business_name">
                <label>Business Phone</label>
                <input type="tel" class="form-control" ng-model="contact.business_phone">
                <label>Existing website address</label>
                <input type="text" class="form-control" ng-model="contact.business_website">
                <label>Prefered Contact</label>
                <div class="radio">
                    <label>
                        <input type="radio" name="prefcontact" value="email" ng-model="contact.prefcontact">Email
                    </label>
                    <label>
                        <input type="radio" name="prefcontact" value="phone" ng-model="contact.prefcontact">Phone
                    </label>
                </div>
            </div>
        </div>
        </div>
        
        <div class="row row-spacer"></div>
    
        <div class="row">
            <div class="col-sm-6">
                <label>What do you want your website to do for you?</label>
                <textarea class="form-control" ng-model="contact.what_it_does" rows="15"></textarea>
            </div>
            
            <div class ="col-sm-6">
                <label>How do you see your website looking?</label>
                <textarea class="form-control" ng-model="contact.site_layout" rows="15"></textarea>
            </div>
        </div>
        
        <div class="row row-spacer"></div>
        
        <div class="row">
          <div class="col-sm-4">
              <label>Do you need to add content dynamically?  If so, what kind of content?</label>
              <textarea class="form-control" ng-model="contact.dynamic" rows="5"></textarea>
          </div>  
            
          <div class="col-sm-4">
              <label>Do you need support for users?</label>
              <textarea class="form-control" ng-model="contact.users" rows="5"></textarea>
          </div>
          
          <div class="col-sm-4">
              <label>We provide analysis of your site performance.  How often would you like contacted with your report?</label>
              <textarea class="form-control" ng-model="contact.analysis" rows="5"></textarea>
          </div>
        </div>
        
         <div class="row">
              <div class="col-sm-12">
                  <label>Website Development Acknowledgement</label>
                  <p>All websites created by Ruby Webs have $0.00 upfront cost.  This request is not a binding contract.  No charges will incur at this time.  Only after the initial website is agreed upon, will a binding contract be issued and billing begin.</p>
                  
                  <label>Website Hosting Acknowledgement</label>
                  <p>All websites hosted with Ruby Webs are charged at a monthly rate of $20.00.  This charge includes the hosting service, domain name registration, search engine optimization, database maintenance, security updates, website restructuring and modification, and comprehensive analysis of website traffic.  This charge only begins after a binding contract is established after the initial website is agreed upon and the site is accessible on the web.</p>
                  
                  <div class="checkbox">
                      <label><input type="checkbox" ng-model="contact.ack" required>I have read the Acknowledgements</label><span class="required">*</span>
                  </div>
                  
                  <button type="submit" class="btn btn-default" ng-disabled="contactUs.$invalid" ng-click="submit_contact()">Submit</button>
              </div>
         </div>
      </form>
    </div>
    
    <rw-footer></rw-footer>
</div>