body *
{
	margin: 0;
	padding: 0;
}

body
{
	//background-color: #3C0C0B;
	//background-color: #EDEDED;
	//background-image: image_url("grymarb.gif");
	background-color: white;
	//background-color: rgb(16,7,7);
	min-width: 320px;
	color: #494646;
	
}

h1
{
	color: #660001;
}

.sm-margin-bottom
{
	margin-bottom: 10px;
}

h2
{
	//text-align: center;
	//border-bottom: solid 1px silver;
	font-size: 24px;
	margin-bottom: 10px;
	//color: #C51001;
}

.info-card
{
	padding: 20px;
	//font-family: 'Playfair Display', serif;
	//color: rgb(102,104,139);
}

.info-card ul
{
	margin-left: 20px;
}
.content
{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	//background-color: white;
	font-family: 'Bree Serif', serif;
}

.content p
{
	margin-bottom: 20px;	
}

.footer-background
{
		margin-top: 20px;
	background-color: #E7E7E7;
}

footer
{
	clear: left;
	color: #C51001;
}

footer ul
{
	list-style: none;
	width: 100%;
}

.row-spacer
{
	background-color: #9B1005;
	height: 20px;
}

.updates h4
{
	margin-bottom: 15px;
}

.updates h5
{
	border-bottom: solid 1px silver;
}
.updates p
{
	text-align: justify;
}

.content h2
{
	color: #660001;
}

div#logo
{
	width: 100%;
}

header
{
	width: 100%;
	background-color: white;
}

header img
{
	width: 100%;
	height: 100px;
}

.navbar-white
{
	background-color: white;
	border-color: white;
	min-height: 0;
}

#navbar-brand-ruby
{
	color: #C51001;
}

.navbar-default .navbar-nav > li > a
{
	color: #C51001;
}

p#slogan
{
	font-weight: bold;
	//color: #660001;
	color: #C51001;
}

h2#portfolio
{
	margin: 20px 0;
	text-align: center;
	font-family: 'Bree Serif', serif;
}

img.portfolio
{
	width: 100%;
}

h4.portfolio
{
	text-align: center;
}

.border
{
	border: solid 1px #9B1005;
	border-radius: 5px;
}

.required
{
	color: red;
}

input.ng-invalid.ng-dirty
{
	border: solid 1px red;
}
/* Services */
