body *
{
	margin: 0px;
	padding: 0px;
}

body
{
	background-color: #3C0C0B;
	//background-color: #EDEDED;
	//background-image: image_url("grymarb.gif");
	min-width: 320px;
	
}

div#index-container
{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
}

div#logo
{
	width: 100%;
}

header
{
	width: 100%;
	background-color: white;
}

header h1
{
	width: 70%;
	float: right;
}

header img
{
	width: 100%;
	height: 100px;
}

.navbar-white
{
	background-color: white;
	border-color: white;
	min-height: 0;
}

#navbar-brand-ruby
{
	color: #C51001;
}

.navbar-default .navbar-nav > li > a
{
	color: #C51001;
}

p#slogan
{
	font-weight: bold;
	color: #660001;
}

.info-card
{
//	margin: 10px;
	//width: 300px;
	//height: 150px;
	width: 30.3%;
	min-width: 200px;
	margin: 1%;
	//height: 100%;
	//background-color: rgb(247,247,247);
	float: left;
	//display: inline-block;
	padding: 10px;
	vertical-align: top;
	//border: solid 1px #660001;
	//border-radius: 5px;
	//font-size: 1em;
	font-family: 'Playfair Display', serif;
}

.info-card h2
{
	text-align: center;
	border-bottom: solid 1px silver;
	font-size: 24px;
	color: #660001;
}

footer
{
	color: white;
}
footer ul
{
	list-style: none;
	width: 960px;
	height: 20px;
	margin-left: auto;
	margin-right: auto;
}

footer ul li
{
	float: left;
	margin-right: 20px;
}

div.content
{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
}

div#content-row
{
	height: 100%;
}

div#info
{
	clear: both;
}
/* Services */
