    <div class="row footer-background">
      <div class="row content">
      <footer>
        <div class="col-sm-4 sm-margin-bottom">
          <ul>
            <li>Ruby Webs</li>
            <li><a href="mailto:nicolas.wb@outlook.com">Email</a></li>
            <li><a href="https://plus.google.com/111061938625311669752" rel="publisher" target="new">Find us on Google+</a></li>
            <li><a href="https://www.facebook.com/rubywebsnet" target="new">Like us on Facebook</a></li>
          </ul>
        </div>
      </footer>
      </div>
    </div>