      <div class="row">
        <header>
            <nav class="navbar navbar-inverse">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a id="navbar-brand-ruby" class="navbar-brand" href="/#!/">Ruby Webs</a>
                </div>

                <div class="collapse navbar-collapse" id="navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="/#!/services">Services</a></li>
                        <li><a href="/#!/request">Get Started</a></li>
                        <li><a href="http://angles.rubywebs.net">Angles of RoR</a></li>
                    </ul>

                    <p id="slogan" class="text-ruby navbar-text pull-right">Website + Insight = Success</p>
                </div>
            </nav>
        </header>
      </div>